torch
transformers
datasets
accelerate
tqdm
sentencepiece
protobuf
xformers
vllm
text-generation # for text-generation-inference backend

# benchmarks
lm_eval
evalplus

# models
einops # required for falcon
fschat
openai
